---
const links = [
  { to: "/", label: "Home" },
  { to: "/about", label: "About" },
  { to: "/tags", label: "Tags" },
  { to: "/search", label: "Search" },
];
---

<header>
  <div class="navbar bg-base-100 border-base-300 border-b">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl font-bold">hmziq.rs</a>
    </div>
    <div class="navbar-end">
      <nav class="flex gap-1">
        {links.map((link) => <a href={link.to} class="btn btn-ghost btn-sm">{link.label}</a>)}
      </nav>
    </div>
  </div>
</header>
