---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "hmziq.rs", description = "A blog about software engineering." } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-base-100 text-base-content">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
